/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common utilities */
body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Top section started  */
.first-first {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 78px;
    padding: 52px;

}

.Text,
.Banner {
    width: 50%;

}

.player {
    height: 800px;
}


.total-top {
    display: flex;

    position: center;
    padding: 90px;
}

.Top-section {
    background-color: black;
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    border-radius: 30px;
}

.top-header {
    margin: 100px;
}

.top-banner {
    margin: 100px;

}

.top-banner,
img {
    width: 100%;

}

.text-tittle {
    color: aliceblue;
    font-size: 50px;
}

.paragraph-text {
    color: aliceblue;
}

button {

    background-color: red;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

/* Middle section or layout section styles  */
/* For box-1  */
.form,
input {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;

}

.form input {
    width: 400px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.white-button {
    font-size: 25px;
    color: black;
    background-color: aliceblue;


}

.Red-button {
    font-size: 25px;
    background-color: rgb(206, 47, 47);
}

.match {
    text-decoration: none;
}

/* Courses styles */

.icon-one {
    color: black;
    width: 100px;
    height: 35px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgb(226, 234, 240);
    box-shadow: 2px;

}

.icon {
    text-decoration: none;
}

.container {
    display: flex;
    height: 100%;
    align-items: stretch;
    margin: 75px;
}

#box-last {
    flex-grow: 1;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 28px;
    margin: 35px;
    margin-top: 0px;
}

.course {
    height: 432px;
    border: 2px solid #0000002b;
    border-radius: 15px;
}

.course-info {
    margin: 20px;
    margin-top: 0px;
}

/* style for Match Layout  */
.container-two {
    display: flex;
    height: 100%;
    align-items: stretch;
    margin: 75px;
}

#box-right {
    flex-grow: 1;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    padding: 25px;
    padding-top: 0px;

}

.match-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px black;
    justify-content: space-evenly
}

.Vs {
    margin: 20px;
}

.flag-tittle-for-match {
    align-items: center;
    padding-left: 90px;
    padding-right: 0px;
}

.single-match {
    border: 2px solid rgb(65 60 60 / 11%);
    box-shadow: 0px px grey;
    border-radius: 10px;
    padding: 10px;
}

.last-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 100px;
    margin-top: 0px;

}


/* Footer styles  */
footer {
    background-color: black;
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-tittle {
    color: white;
    font-size: 50px;
}

hr {

    width: 1320px;
    margin-bottom: 45px;
}

footer nav {
    display: flex;
}

.footer-menu {
    text-decoration: none;
    color: aliceblue;
    font-size: small;
    margin: 1rem;
}

/* Responsive css started  */
/* Media Quaries */
/* Mobile devise */
@media only screen and (max-width:688px) {
    .first-first {

        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        padding: 0px;
        margin: 0px;
    }

    .text-tittle {
        font-size: 31px;
        margin-top: 119px;

    }

    .b:hover {
        white-space: nowrap;
        width: 200px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #000000;
        overflow: visible;

    }

    .b:hover {
        overflow: visible;

    }

    .player {
        width: 100%;
        height: 50%
    }